# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY
SUPABASE_URL=https://tqdzowkqyusxjfkmzlks.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_zQwVwwxTuoNL1i4YnVBrHg_KKR798Os
